@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    background-color: rgba(203, 214, 147, 0.7);
    font-weight: 700;
    font-size: 56px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.titulo {
    text-align: center;
}

.contador {
    background-color: blue;
}

.jogadas {
    background-color: yellow;
}

.acertos {
    background-color: red;
}

ul {
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
}

li {
    background-color: #A7E9AF;
    width: 117px;
    height: 146px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li img {
    width: 100px;
    height: 100px;
}

li img:last-of-type {
    display: none;
}

.back img:first-of-type {
    display: none;
}

.back img:last-of-type {
    display: unset;
}

@media (max-width: 335px) {

    body {
        font-size: 36px;
    }

}